certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
gunicorn==19.9.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
praw==6.3.1
prawcore==1.0.0
requests==2.22.0
six==1.12.0
update-checker==0.16
urllib3==1.25.3
Werkzeug==0.15.4
