certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
praw==6.0.0
prawcore==1.0.0
requests==2.20.0
update-checker==0.16
urllib3==1.24.1
Werkzeug==0.14.1
