<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align: center;"><a href="{{ shortlink }}" style="color: black">{{ title }}</a></h1>
    <br>
    <div  class="container" style="width: 100%; height: 100%">
        <img src="{{ img_url }}" alt="meme" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;">
    </div>
</body>
</html>